*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
  color: white;
  /* outline: auto; */
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25282a;
}
ul {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 10px;
  list-style: square;
  list-style-position: inside;
}
li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
button {
  height: 40px;
  width: auto;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #e78496;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* textarea is good too know but not need here */
/* textarea { 
  padding: 10px;
  border: 1px transparent #ccc;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  color: black;
  background-color: #1e2122;
  resize: vertical; 
}
textarea:focus {
  border-color: #33b5e5;
  outline: none;
} */

.container {
  /* outline: auto; */
  width: 500px;
  min-height: 550px;
  background-color: #1e2122;
  display: flex;
  flex-direction: column;
}
.container-header {
  padding: 20px;
  border-bottom: 2px solid #25282a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch-mode {
  width: 24px;
  height: 24px;
}
.switch-mode img {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  object-fit: contain;
  display: block;
}
.container-header .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-main {
  flex: 1;
}
.container-main li:has(input:checked) {
  text-decoration: line-through;
  opacity: 0.6;
}

.container-footer {
  padding: 20px;
  border-top: 2px solid #25282a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.list-item {
  border: none;
  outline: none;
  padding: 30px 20px;
  /* font-family: sans-serif; */
  font-size: medium;
  background-color: transparent;
  flex: 1;
}
