*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Just Another Hand", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  /* outline: auto; */
}

body {
  min-height: 100dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25282a;
}
input {
  border: none;
  outline: none;
  padding: 30px 20px;
  font-family: sans-serif;
  font-size: large;
  background-color: transparent;
}
button {
  height: 40px;
  width: auto;
  font-size: 25px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #e78496;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  /* outline: auto; */
  width: 500px;
  height: 550px;
  background-color: #1e2122;
  display: flex;
  flex-direction: column;
}
.container-header {
  padding: 20px;
  border-bottom: 2px solid #25282a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.switch-mode {
  width: 24px;
  height: 24px;
}
.switch-mode img {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  object-fit: contain;
  display: block;
}
.container-header .left-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-main {
  flex: 1;
}
.container-main input {
  width: 100%;
}

.container-footer {
  padding: 20px 20px 20px 0;
  border-top: 2px solid #25282a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
